.profile-image {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
}
.profile-image2 {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: 0% 20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  width: 90%;
}

.title {
  color: grey;
  font-size: 18px;
}

.action-button {
  display: block;
  margin-top: 10px;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.action-button:hover,
a:hover {
  opacity: 0.7;
}

.profiles {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* margin: 100px; */
  margin: auto;
  flex-wrap: wrap;

  /* padding: 100x; */
  /* display: grid;
place-content: center; */
}
.dj1{
  text-align: center;
  font-size: 10;
}
