* {
  /* margin: 0;
    padding: 0; */
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* max-width: 1200px; */
}

:root {
  --primary-color: #7cc44c;
  --secondary-color: #0474c4;
  --accent-color: #6cacdd;
  --accent-color-2: Black;
  --accent-color-3: rgb(194, 194, 194);
}
.section {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}
#full-logo {
  /* position: relative; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 50px;
}
marquee {
  /* position: relative; */
  /* background-color: rgba(253, 253, 253, 0.5); */
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
  left: 100%;
  animation: 7s infinite linear;
  white-space: nowrap;
  padding: 0 0.25em;
  text-shadow: 20px 0px 55px black;
}
.landing-page-banner {
  background-image: url("../Photos/alvaro-reyes-qWwpHwip31M-unsplash.jpg");
}

.container-with-grid {
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-image: url("../Photos/grid-png-hd-5.png");
  /* margin: 20px 50px 0 50px;
  border-radius: 25px 25px 25px 25px;
  background-image: radial-gradient(#7cc44c, #0474c4);
  /* background-image:  */
  /* box-shadow: 0px 0px 20px 10px #0474c4b0; */
  /* border: #6cacdd00; */
  /* animation: landing-page-banner 100s infinite; */
}

@keyframes landing-page-banner {
  0% {
    background-image: radial-gradient(#7cc44c, #0474c400);
  }
  25% {
    background: #0474c4;
  }
  50% {
    background: #7cc44c;
  }
  75% {
    background: #0474c4;
  }
  100% {
    background-image: radial-gradient(#7cc44c, #0474c400);
  }
}

.wrap-text {
  text-wrap: wrap;
}

.text-section-1 h3 p {
  display: inline;
  padding: 0px 40px;
  text-wrap: wrap;
}
#grid-background {
  display: grid;
  width: fit-content;
  border-bottom-left-radius: 50px;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }

  /* 0% {
       left: 100%;
    }
  
    100% {
       left: 0;
       transform: translateX(-100%);
    } */
}
/* @media (max-width: 768px) {
  .section {
    display: grid;
  }
} */

@media (max-width: 550px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .card {
    width: 90% !important;
  }
  #cd-img-1,
  #cd-img-2,
  #cd-img-3 {
    width: 100% !important;
    height: auto !important;
  }
  #full-logo {
    padding: 0;
  }
}
